body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: 400;
  box-sizing: border-box;
}

#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
video {
  height: 200px;
  width: 280px;
  object-fit: cover;
  margin: 2px;
}
.main {
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
}
.main__left {
  /*flex: 0.8;*/
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main__videos {
  display: flex;
  flex-grow: 1;
  background-color: black;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.main__controls {
  display: flex;
  background-color: #1c1e20;
  color: #e5e4e2;
  padding: 5px;
  justify-content: space-between;
  border-top: 1px solid #3d3d42;
}
.main__controls__block {
  display: flex;
}
.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
}
.main__controls__button span {
  display: none;
}
.main__controls__button:hover {
  background-color: #3d3d42;
  border-radius: 5px;
}
.leave__button:hover {
  background-color: transparent;
}
.leave__meeting {
  font-size: 12px;
  background-color: #eb534b;
  padding: 4px;
  border-radius: 10px;
  font-weight: 700;
}
.main__right {
  /*flex: 0.2;*/
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3d3d42;
}
.main__header {
  color: #e5e4e2;
  text-align: center;
  border-bottom: 1px solid #3d3d42;
}
.main__chat__window {
  flex-grow: 1;
  overflow-y: scroll;
  width: 90%;
}
/* ------------------------------------------------------------*/
.main__chat__window::-webkit-scrollbar,
.main__videos::-webkit-scrollbar {
  display: none;
}
/*------------------------------------------------------------ */
.main__chat__window,
.main__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* ------------------------------------------------------------ */
.main__message__container {
  padding: 22px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__message__container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #e5e4e2;
  padding: 8px;
}
.main__message__container input:focus {
  outline: none;
  background-color: #3d3d42;
  border-radius: 5px;
}
.messages {
  color: #fff;
  font-size: 13px;
  list-style-type: none;
  padding-left: 14px;
}
.messages li {
  margin-top: 12px;
}
.messages li span {
  font-size: 11px;
  color: #a8a8a8;
}
.unmute,
.stop {
  color: #cc3b33;
}
@media only screen and (max-width: 991px) {
  .main__chat__window {
    max-height: 200px;
  }
}

@media only screen and (min-width: 992px) {
  .main {
    height: 100vh;
    flex-direction: row;
  }
  .main__left {
    flex: 0.8;
  }
  .main__right {
    flex: 0.2;
  }
}

@media only screen and (min-width: 768px) {
  .main__controls__button {
    min-width: 80px;
  }
  .main__controls__button i {
    font-size: 20px;
  }
  .main__controls__button span {
    display: block;
    font-size: 14px;
  }
}
